.back-project-modal {
  max-width: 45.625rem; /* 730px */
  width: calc(100% - 2 * var(--container-padding-x));
  height: fit-content;
  border-radius: 0.5rem;
  position: fixed;
  z-index: 10;
  inset: 0;

  .body-section-box {
    margin: 0;
    border: none;
  }

  .back-project-modal__close-btn {
    border: none;
    background: none;
    padding-top: 0.25rem;
    position: absolute;
    top: 1.5rem; /* 28px */
    right: var(--box-section-padding-x);

    path {
      transition: 0.4s;
    }

    &:hover {
      path {
        opacity: 1;
      }
    }
  }

  .back-project-modal__title {
    margin-bottom: 1.5rem; /* 24px */
    font-size: 1.125rem; /* 18px */

    @media screen and (min-width: 640px) {
      font-size: 1.25rem; /* 20px */
    }
    @media screen and (min-width: 768px) {
      font-size: 1.375rem; /* 22px */
    }
    @media screen and (min-width: 1024px) {
      font-size: 1.5rem; /* 24px */
    }
  }

  .back-project-modal__description {
    margin-bottom: 1.5rem;

    @media screen and (min-width: 768px) {
      margin-bottom: 1.75rem; /* 22px */
    }
    @media screen and (min-width: 1024px) {
      margin-bottom: 2rem; /* 24px */
    }
  }

  .back-project-modal__pledges-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }
}

.modal-pledge {
  --modal-pledge-padding-x: 1.5rem;
  --radio-margin-right: 1rem;

  border: 1px solid #d8d8d8;
  border-radius: 0.5rem;
  transition: 0.4s;

  &.modal-pledge--selected {
    border: 2px solid hsl(var(--primary-color));
  }

  &.modal-pledge--out-of-stock {
    opacity: 0.5;

    .modal-pledge__title {
      pointer-events: none;
    }
  }

  @media screen and (min-width: 768px) {
    --modal-pledge-padding-x: 1.625rem;
    --radio-margin-right: 1.25rem;
  }
  @media screen and (min-width: 1024px) {
    --modal-pledge-padding-x: 1.6875rem;
    --radio-margin-right: 1.5rem;
  }

  @media screen and (min-width: 768px) {
    .description {
      font-size: 0.9375rem;
    }
  }

  .modal-pledge__content-grid {
    --radio-size: 1.5rem; /* 24px */

    padding: 2rem var(--modal-pledge-padding-x);
    display: grid;
    grid-template-areas: "radio header" "description description" "quantity quantity";
    grid-template-columns: var(--radio-size) auto;

    @media screen and (min-width: 768px) {
      grid-template-areas: "radio header quantity" "radio description description";
      grid-template-columns: var(--radio-size) auto min-content;
    }

    .modal-pledge__radio-item {
      grid-area: radio;
      display: flex;
      align-items: center;

      @media screen and (min-width: 768px) {
        align-items: flex-start;
      }
    }
    .modal-pledge__header-item {
      grid-area: header;
      display: flex;
      align-items: center;
    }
    .modal-pledge__amount-item {
      grid-area: amount;
    }
    .modal-pledge__description-item {
      grid-area: description;
    }
    .modal-pledge__quantity-item {
      grid-area: quantity;
    }
  }

  .modal-pledge__radio {
    input[type="radio"] {
      width: 0;
      height: 0;
      position: absolute;
    }

    span.mark {
      width: var(--radio-size);
      height: var(--radio-size);
      border: 1px solid #dbdbdb;
      border-radius: 50%;
      display: block;
      position: relative;
    }

    input[type="radio"]:checked + span.mark::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 50%;
      background-color: hsl(var(--primary-color));
    }

    input[type="radio"]:focused + span.mark::after {
      box-shadow: 0 0 2.5rem hsl(var(--primary-color), 0.5);
    }
  }

  .modal-pledge__header {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    row-gap: 0.75rem;
    column-gap: 1.125rem;
    padding-left: var(--radio-margin-right);

    .modal-pledge__title {
      font-weight: 700;
      font-size: 0.875rem;
      transition: 0.4s;

      label {
        cursor: pointer;
      }

      &:hover {
        color: hsl(var(--primary-color));
      }
    }

    .modal-pledge__amount {
      font-size: 0.875rem;
      font-weight: 500;
      color: hsl(var(--primary-color));
      margin: 0;
      padding: 0;
    }

    @media screen and (min-width: 768px) {
      .modal-pledge__title,
      .modal-pledge__amount {
        font-size: 1rem;
      }
    }
  }

  .modal-pledge__description {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    @media screen and (min-width: 768px) {
      margin-top: 1.25rem;
      margin-bottom: 0;
      padding-left: var(--radio-margin-right);
    }
  }

  .modal-pledge__quantity {
    color: hsl(var(--neutral-color-light));
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.875rem;

    strong {
      font-weight: 700;
      color: hsl(var(--neutral-color));
      font-size: 1.125rem;
    }
  }

  .modal-pledge__amount-enter {
    border-top: 1px solid #d8d8d8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.75rem 1.5rem 1.375rem;

    &[aria-hidden="true"] {
      display: none;
    }

    @media screen and (min-width: 768px) {
      padding: 1.5rem;
      flex-direction: row;
      justify-content: space-between;
    }

    .modal-pledge__amount-enter-control {
      width: fit-content;
      position: relative;

      &::before {
        content: "$";
        color: hsl(var(--neutral-color-light));
        font-size: 0.875rem;
        position: absolute;
        top: 50%;
        left: 1.5rem;
        transform: translateY(-50%);
      }
    }

    input.modal-pledge__amount-enter-input {
      --input-height: 3rem;
      --input-border-color: #d8d8d8;

      width: 6.25rem;
      height: 3rem;
      border: 1px solid var(--input-border-color);
      border-radius: calc(var(--input-height) / 2);
      outline: none;
      transition: 0.4s;
      padding-left: 2.5rem;
      font-size: 0.875rem;
      font-weight: 700;
      text-anchor: end;

      &:focus {
        --input-border-color: hsl(var(--primary-color));
      }
    }
  }
}
