@import url("./navbar.css");

.header-banner {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: clamp(18.75rem, 80vw, 25rem);

  @media only screen and (min-width: 768px) {
    height: clamp(21.875rem, 27vw, 25rem);
  }
}
